{% extends "sport/base.html" %}
{% block content %}

{% if not userevents %}
	<h5>You do not have events</h5>
{% else %}
{% for ue in userevents %}
<div class="columns">
	<h5>{{ ue.event.name }}</h5>
	<div id="event">		
		<ul data-role="listview">
			<h6 class="subheader">datetime: {{ ue.event.datetime }}</h6>
			<h6 class="subheader">root: {{ ue.event.root_user.username }}</h6>
			<h6 class="subheader">mode: {{ ue.event.mode.show }}</h6>
			<h6 class="subheader">you status: {{ ue.status.show }}</h6>
		</ul>
	</div>
</div>
{% endfor %}	
{% endif %}

{% endblock %}