<!DOCTYPE html>
<html>
	<head>	
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<style type="text/css">
			html { height: 100% }
			body { height: 100%; margin: 0; padding: 0 }
			#map_canvas { height: 100% }
		</style>
		<script	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyChLA-Urhp5xABUN-mh10ki4NkAnk7BLIE&sensor=false"></script>	
		<script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/src/markerwithlabel.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript">
			var map;
			function load() {	
				var mapOptions = {
					center: new google.maps.LatLng({{ city.latitude_degree }}, {{ city.longitude_degree }}),
					zoom: 14,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};		
				map = new google.maps.Map(document.getElementById("map_canvas"),
					mapOptions);								
				google.maps.event.addListener(map, 'click', function (event) {								
					var selfmarker = new MarkerWithLabel({
						position: event.latLng,
						map: map,
						labelContent: "my point"
					});		
					venues(event.latLng.lat(), event.latLng.lng());
					google.maps.event.clearListeners(map, 'click');
				});

			}
			function venues(v_lat, v_lng) {
				$.get('/sport/venues', { lat: v_lat, lng: v_lng },
				function(data){
					for(var i = 0; i < data.length; i++){
						var latlng = new google.maps.LatLng(data[i].latitude, data[i].longitude);						
						var marker = new MarkerWithLabel({
							position: latlng,
							map: map,
							labelContent: data[i].name,
							id: data[i].venue_id
						});	
						google.maps.event.addListener(marker, 'click', events);										
					};
				});
			}	
			function events(event) {
				$.get('/sport/events', { venue_id: this.id },
				function(data){
					for(var i = 0; i < data.length; i++){
						console.log(data[i].name);
					};
				});			
			}		
		</script>
	</head>
	<body onload="load()">	
		<div id="map_canvas" style="width:100%; height:100%"></div>
		<div position="absolute" top=0 left=0><h1>Привет</h1></div>
	</body>
</html>
