{% extends "sport/base.html" %}

{% block head %}
<script type="text/javascript">
	$(document).ready(function(){
		$('.button').click(function(){
			var btn = $(this);
			var user_id = btn.attr('id');

			if (btn.is('.disabled')) return;
			var str = { 'csrfmiddlewaretoken' : '{{ csrf_token }}'}
			if (btn.is('.accept')){
				var btn2 = $('#'+user_id+'.decline');
				str['accept'] = 1;
			} else {
				var btn2 = $('#'+user_id+'.accept');
				str['accept'] = 0;
			}
			
			str['user_id'] = user_id;
			$.ajax({
				type: "post",
				data: str,
				success: function(resp) {
					//$(this).addClass('disabled');
					if (btn.is('.accept')) {
						btn.addClass('disabled');
						btn2.removeClass('disabled');
					} else {
						btn.addClass('disabled');
						btn2.removeClass('disabled');
					}
				},
				error: function(resp) {
					console.log("error");
				},
			});
		});
	});
	
</script>
{% endblock %}

{% block content %}
{% for user in users %}
<ul class="small-block-grid-3">
	<li>{{ user.username }}</li>
	<li>
		<div role="button" id="{{ user.id }}" class="accept button tiny {% if user.name == 'Active' %}disabled{% endif %}">Accept</div>
	</li>
	<li>
		<div role="button" id="{{ user.id }}" class="decline button tiny {% if user.name == 'Cancel' %}disabled{% endif %}">Decline</div>
	</li>
</ul>
{% endfor %}
{% endblock %}