body {
	margin: 0;
	padding: 0;
}

#header_container{
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	top: 0;
}

#header {
	line-height: 45px;
	margin: 0 auto;
}

#container {
	margin: 0 auto;
	overflow: auto;
	padding: 80px;
}

#footer_container {
	bottom: 0;
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
}
#event {
	display: none;
}

.columns:hover > #event {
	display: block;
}